{% load static %}
{% static "images" as baseurl %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>The Desi Pantry</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/the_desi_pantry_logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/desi-style.css' %}?v=2">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?v=2">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?v=2">

    <style>
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.75);
            transition: 0.5s; 
            z-index: 999;
            cursor: pointer;
          }
          
          #text{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
          }
    </style>

    <script>
        var total=0
        function getTotal(p, q, id){
            // console.log("calculating");
            // console.log(id);
            var tag = document.getElementById(id);
            tag.innerHTML = p * q;
            total = total+(p*q)
        }
        function setBigTotal(){
            var bigtotal = document.getElementById('bigtotal');
            bigtotal.innerHTML = total + ' R.s';
        }
        function RemoveCartItem(cartitem_id){
            // console.log(cartitem_id + "is the cartitem id");
            data = {
                    'cartitem_id':cartitem_id,
                    'remove_button':'remove_button',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            $.post(url = "{% url 'cart' %}", data, function(data, status){
                // console.log(status);
                // on()
                location.reload();
            });
        }
        
    </script>
</head>

<body>
    <div id="overlay" onclick="off()">
        <div id="text">Updated Cart !</div>
      </div>
    <!-- Start Main Top -->
    {% with "checkout" as calling_page %}
        {% include 'header.html' %}
    {% endwith %}
    <!-- End Main Top -->

    <!-- Start Top Search -->
    {% include "search.html" %}
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box" style="background: url('{% static 'images/butter_muruku_carousel.jpg' %}') no-repeat center center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for cart_item in cart_items %}
                                <tr id='{{cart_item.id}}'>
                                    <td class="thumbnail-img">
                                        <a href="#">
                                    {% if cart_item.product.img %}
									<img class="img-fluid" src="{{ cart_item.product.img.url }}" alt="" />
                                    {% else %}
                                    <img class="img-fluid" src="{% static 'images/the_desi_pantry_logo.png' %}" alt="No Image" />
                                    {% endif %}
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
									{{cart_item.product.name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{cart_item.product.price}}</p>
                                    </td>
                                    <td class="quantity-box"><input name="qtybox" id="qtybox{{cart_item.id}}" type="number" size="4" value="{{cart_item.qty}}" min="0" step="1" class="c-input-text qty text qty-box"></td>
                                    <td class="total-pr">
                                        <p id="total{{cart_item.id}}">
                                            <script>
                                                getTotal("{{cart_item.product.price}}", "{{cart_item.qty}}", "total{{cart_item.id}}");
                                            </script>
                                        </p>
                                    </td>
                                    <td class="remove-pr">
                                        <a class="removebtn" href="#" id="cart_item{{cart_item.id}}" onclick="RemoveCartItem('{{cart_item.id}}'); return false">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                {% if cart_items %}
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Update Cart" type="submit" id="updatebtn">
                        <div class="col-12 d-flex shopping-box"><a href="{% url 'update-order' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="update-box">
                        <h3>Your cart is empty</h3>
                        <p>Please add items to move to the checkout.</p>
                        <a href="{% url 'category' %}" class="btn hvr-hover" style="color: white;">Start Shopping</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Instagram Feed  -->
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About The Desi Pantry</h4>
                            <p>Authentic Indian sweets and savory delights, made with traditional recipes and love. Experience the taste of home in every bite.</p> 
							<p>We are dedicated to bringing you the finest quality treats for every occasion.</p> 							
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h4>Business Time</h4>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
                
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: 123 Sweet Street, <br>Chennai,<br> India 600001 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+919876543210">+91 987 654 3210</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:info@thedesipantry.com">info@thedesipantry.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2024 <a href="#">The Desi Pantry</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function(){
          $("#updatebtn").click(function(){
            // console.log("button clikedd ");
            data_send = {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
            
            $(".qty-box").each(function(){
                data_send[this.id] = this.value;
            });
            // console.log(data_send);
            on(); // Optimistic update: Show success message immediately

            $.post(url="{% url 'cart' %}", data=data_send, function(data, status){
                // console.log(status);
                // console.log(data);
                for (cart_item_id in data){
                    // console.log(cart_item_id, data[cart_item_id]);
                    $('#total'+cart_item_id).text(data[cart_item_id]);
                }
            }); 
          });
        });
        function on() {
            var popup = document.getElementById("overlay").style.display = "block";
            setTimeout(() => { 
                $('#overlay').fadeOut('fast');
            }, 1000);
              }
    </script>

    
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap-select.js'  %}"></script>
    <script src="{% static 'js/inewsticker.js'  %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
</body>

</html>