{% load static %}
{% static "images" as baseurl %}
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="{% url 'home' %}" style="display: flex; align-items: center;">
                    <img src="{% static 'images/the_desi_pantry_logo.png' %}" class="logo" alt="The Desi Pantry" style="height: 80px; width: auto; margin-right: 10px;">
                    <span style="font-family: 'Great Vibes', cursive; font-size: 38px; font-weight: 700; color: #c19a6b; letter-spacing: 1px;">The Desi Pantry</span>
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'category' or request.resolver_match.url_name == 'shop-detail' %}active{% endif %}"><a class="nav-link" href="{% url 'category' %}">Shop</a></li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}"><a class="nav-link" href="{% url 'about-us' %}">About Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    {% if calling_page != 'home' and calling_page != 'checkout' %}
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    {% endif %}
                    <li class="cart-icon {% if request.resolver_match.url_name == 'cart' or request.resolver_match.url_name == 'checkout' %}active{% endif %}"> 
                        <a href="{% url 'cart' %}">
                            <i class="fa fa-shopping-bag"></i> My Cart
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
    </nav>
    <!-- End Navigation -->
</header>
