<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        
        <h4 class="modal-title">Modal Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <p>Your order has been updated successfully</p>
        <br>
        </div>
        <!-- payment button div -->
        <div class="modal-footer">
        <a class="btn btn-default">OK</a>
        </div>
    </div>
    </div>
</div>